In [1]:
#set is mutable and unordered collection of elements. It don't contain duplicate values
fruits={"orange","mango","papaya"}

In [2]:
fruits

{'mango', 'orange', 'papaya'}

In [3]:
fruits.add("banana") #adding elements in set

In [4]:
fruits

{'banana', 'mango', 'orange', 'papaya'}

In [5]:
fruits.add("mango")
print(fruits)

{'orange', 'mango', 'banana', 'papaya'}

In [6]:
fruits.remove("orange") #removing elements from set using remove method
print(fruits)

{'mango', 'banana', 'papaya'}

In [7]:
fruits.discard("mango") #removing elements from set using discard method

In [8]:
fruits

{'banana', 'papaya'}